{% extends 'base.html' %}
{% block content %}


<img src="./static/images/where_dis-01.png" class="home-logo"  alt="">
<div class="home-paragraph">
    <p class="paragraph">We've pretty much been stuck inside since the beginning of 2020. It's time to get outside and go
    on an adventure. Where_dis is a game where you track down photos taken in specific locations and try to duplicate them.
    </p>
    
    <p class="paragraph">So you're wondering how to play, huh? Be forgiving – this is only the alpha version and we have a couple of bugs.
    It gives us character. It's like that scar you have from that stupid thing you did drinking in college. Currently, our location extraction
    only works on JPG files. So please make sure that's the filetype of your photos. 
    <a href="https://osxdaily.com/2017/09/29/change-iphone-camera-default-image-format-jpeg-heif/">Here's how to change the settings on an iPhone.</a></p>
    
    <p class="paragraph">So for the first time in months, it's time to put on pants and venture out into the real world. Grab your phone and 
    a mask – it's time to find where_dis is.</p>
</div>

{% endblock %}