{% extends 'base.html' %}
{% block content %}


<img src="./static/images/where_dis-01.png" class="home-logo"  alt="">
<div class="home-paragraph">
    <p class="paragraph">We've pretty much been stuck inside since the beginning of 2020. It's time to get outside and go
    on an adventure. This is a game where you can track down photos taken in specific locations and try to duplicate them.
    </p>
    
    <p class="paragraph">So for the first time in months, it's time to put on pants and venture out into the real world. Grab your phone and 
    a mask – it's time to find where_dis is.</p>
</div>

{% endblock %}