{% extends 'base.html' %} 
{% block content %}

<h1>{{ game.name }} Details</h1>

<p class="paragraph">{{ game.details }}</p>

{% if game.host == request.user %}
<a class ="pure-button" href="{% url 'game_delete' game.id %}">Delete Game</a>
<br><br>
{% endif %}

{% if game.winner %}
  <h3>{{ game.winner.username }} has already won this game</h3>
{% endif %}

{% comment %} IF THERE IS A MATCH, DISPLAY THAT THERE IS A WINNER. IF NOT, SAY SOMETHING LESS EXCITING {% endcomment %}

<img class="responsive-img card-panel" src="{{ref_photo.url}}" />

<!-- <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js'></script> -->
<!-- below npmcd script is necessary source for circle to render  -->

<h4>Find_dis somewhere in the circle.</h4>
<p>And don't do anything stupid.</p> 
<p>We're not going to be liable if you get hit by a train, walk off a cliff, or 
try to take a selfie with a pack of hungry wolves.</p>

<div class="responsive-img card-panel" id="map" style="width: 40rem; height: 30rem;"></div>
<script>
  mapboxgl.accessToken =
    "pk.eyJ1IjoiZGFuc3dpY2siLCJhIjoiY2l1dTUzcmgxMDJ0djJ0b2VhY2sxNXBiMyJ9.25Qs4HNEkHubd4_Awbd8Og";
  var map = new mapboxgl.Map({
    container: "map", // container id
    style: "mapbox://styles/mapbox/streets-v9", //stylesheet location
    center: [{{ rand_lng }}, {{ rand_lat }}], // starting position of map
    zoom: 13, // starting zoom 3 = USA, 5 = CO, 12 = Downtown, 17 = 257 meters (one big city block), 18 = 130 meters.
  });

  map.on("load", function () {
    var center = turf.point([{{ rand_lng }}, {{ rand_lat }}]);
    var radius = 0.5; // overall circle size .5 = 1km 
    var options = {
      steps: 80, //The number of sides of the shape. 8 = octogon
      units: "kilometers",
    };

    var circle = turf.circle(center, radius, options);

    map.addLayer({
      //translucent inner circle
      id: "circle-fill",
      type: "fill",
      source: {
        type: "geojson",
        data: circle,
      },
      paint: {
        "fill-color": "rgb(141,207,175)",
        "fill-opacity": 0.3,
      },
    });
    map.addLayer({
      // this is the outer ring - api requies these parameters. To remove outer line change "line-width:" to 0
      id: "circle-outline",
      type: "line",
      source: {
        type: "geojson",
        data: circle,
      },
      paint: {
        "line-color": "rgb(141,207,175)",
        "line-opacity": 0.9,
        "line-width": 10,
        "line-offset": 5,
      },
      layout: {},
    });
  });
</script>

{% if not game.winner %}
<h4>Give it a shot. Upload a photo.</h4>
<form
action="{% url 'upload_photo' game.id %}"
enctype="multipart/form-data"
method="POST"
class="card-panel"
>
{% csrf_token %}
<input type="file" name="photo-file" />
<br />
<br />
<input type="submit" class="pure-button" value="Upload Photo" />
</form>
<p class="paragraph">Having trouble? Make sure your photos are in .jpg format and the
  location is being saved!</p>
{% endif %}
  
  
  {% comment %} ELIMINATE REFERENCE PHOTO FROM THESE {% endcomment %}
<h4>Previous attempts:</h4>
  {% for photo in photo_attempts %}
  <img class="responsive-img card-panel" src="{{photo.url}}" />
  {% empty %}
  <div class="card-panel center-align">No Photos Uploaded</div>
  {% endfor %}
  
  
  <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
  {% endblock %}
  